<!DOCTYPE html>
<html>
  <head>
    <title>CeaselessPrayer</title>

    <!-- Lighthouse Details -->
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#3f51b5"/>
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-180x180.png') %>" />

    <%= favicon_link_tag asset_path('favicon-16x16.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_pack_tag    'application' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <style>
    body {
      background-image: url('https://cdni.rbth.com/rbthmedia/images/2020.03/article/5e79da0a85600a7fc0544a73.jpg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      overflow: hidden;
    }

    body:after {
      background-position: right bottom;
      content:"";
      position: fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url('https://cdni.rbth.com/rbthmedia/images/2020.03/article/5e79da0a85600a7fc0544a73.jpg') center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    html,
    body {
      height: 100%;
      margin: 0
    }

    .box {
      display: flex;
      flex-flow: column;
      height: 100%;
    }

    .box .row.header {
      flex: 0 1 auto;
      /* The above is shorthand for:
      flex-grow: 0,
      flex-shrink: 1,
      flex-basis: auto
      */
    }

    .box .row.content {
      display: flex;
    }

    .box .row.content {
      flex: 1 1 auto;
    }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
